.video-wrap {
  position: relative;
  width: 100%;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
}

p#title {
  font-family: serif;          
  color: #fff;
  font-size: 400%;
  position: absolute;
  left: 3%;
  top: 150px;
  z-index: 1;
}

p#body {
	color: #fff;
	font-size: 100%;
  line-height: 150%;
	position: absolute;
	left: 4%;
	top: 280px;
	z-index: 1;
}

body {
  background-color: #111;
}

.pad {
  height: 2000px;
}